//textColors
$textColor_main: #000000;
$textColor_inactive: #9e9e9e;
$textColor_active: #090f31;
$textColor_titles: #4f4f4f;
$textColor_button_solid: #ffff;

//button_colors
$primary: #437fd8;
$default: #e0e0e0;
$secondary: #0fa958;
$danger: #d93e0e;

//button_colors_hover
$primary_hover: #3c71c0;
$default_hover: #aeaeae;
$secondary_hover: #0d984f;
$danger_hover: #ca3b0d;
$primary_hover_noBg: #3c71c01a;
$default_hover_noBg: #aeaeae1a;
$secondary_hover_noBg: #0d984f1a;
$danger_hover_noBg: #ca3b0d1a;

//navBg
$navBg: #fafbfd;

//extras
$brandLogoColor: #f7542e;

//border-colors
$borderColor: #828282;
$border_hover: #333333;
